@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black;
  color: white;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
